ions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = authserver
DNS.2 = authserver.kube-system
DNS.3 = authserver.kube-system.svc
DNS.4 = authserver.kube-system.svc.cluster.local
IP.1 = 10.3.0.15
